<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создание договора страхования</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">Страховая компания</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Главная</a>
                </li>
                {% if request.user.role.name == 'Агент' %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'insurances' %}">Договоры страхования</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'clients' %}">Клиенты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile' user.id %}">Профиль</a>
                    </li>
                {% endif %}
                {% if request.user.role.name == 'Бухгалтер' %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'salary_report' %}">Зарплаты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'agents' %}">Агенты</a>
                    </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-5">
    <h2>Create Health Insurance</h2>
    <form method="post" action="{% url 'create_health_insurance' %}" class="col-md-6">
        {% csrf_token %}
        <table class="table">
            <tbody>
            <tr>
                <th>Дата составления договора (гггг-мм-дд)</th>
                <td>{{ form.date }}</td>
            </tr>
            <tr>
                <th>Клиент</th>
                <td>{{ form.client }}</td>
            </tr>
            <tr>
                <th>Агент</th>
                <td>{{ request.user }}</td>
            </tr>
            <tr>
                <th>Сумма страхования</th>
                <td>{{ form.salary }}</td>
            <tr>
                <th>Процент агента</th>
                <td>{{ form.percent_agent }}</td>
            </tr>
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>
</html>
