{% extends "navbar.html" %}
{% load static %}
{% block content %}
    <div class="breadcrumb-area ptb-60 ptb-sm-30">
        <div class="container">
            <div class="breadcrumb">
                <ul>
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'shop' %}">Shop</a></li>
                    <li class="active"><a href="">Product</a></li>
                </ul>
            </div>
        </div>
        <!-- Container End -->
    </div>
    <div class="main-product-thumbnail pb-60">
        <div class="container">
            <div class="row">
                <!-- Main Thumbnail Image Start -->
                <div class="col-lg-5">
                    <!-- Thumbnail Large Image start -->
                    <div class="tab-content">
                        <div id="thumb1" class="tab-pane active">
                            <a data-fancybox="images" href="{{ material.photo.url }}"><img
                                    src="{{ material.photo.url }}" alt="product-view"></a>
                        </div>
                        <div id="thumb2" class="tab-pane">
                            <a data-fancybox="images" href="{{ material.photo2.url }}"><img
                                    src="{{ material.photo2.url }}"
                                    alt="product-view"></a>
                        </div>
                    </div>
                    <!-- Thumbnail Large Image End -->

                    <!-- Thumbnail Image End -->
                    <div class="product-thumbnail">
                        <div class="thumb-menu nav">
                            <a class="active" data-toggle="tab" href="#thumb1"> <img src="{{ material.photo.url }}"
                                                                                     alt="product-thumbnail"></a>
                            <a data-toggle="tab" href="#thumb2"> <img src="{{ material.photo2.url }}"
                                                                      alt="product-thumbnail"></a>
                        </div>
                    </div>
                    <!-- Thumbnail image end -->
                </div>
                <!-- Main Thumbnail Image End -->
                <!-- Thumbnail Description Start -->
                <div class="col-lg-7">
                    <div class="thubnail-desc fix">
                        <h3 class="product-header">{{ material.name }}</h3>
                        <div class="pro-price mb-10">
                            <p><span class="price">{{ material.price }} руб.</span>
                            </p>
                        </div>
                        <div class="pro-ref mb-15">
                            <p><span class="in-stock">В наличии:</span><span class="sku">{{ material.in_stock }}</span>
                            </p>
                        </div>
                        <div class="pro-ref mb-15">
                            <p><span class="in-stock">Цена доставки:</span><span class="sku">{{ material.price_delivery}} руб.</span>
                            </p>
                        </div>
                        <div class="box-quantity">
                        {% if user.is_authenticated %}
                            {% if material.in_stock > 0 %}
                                <form action="{% url 'add_to_cart' material.id %}" method="post">
                                    {% csrf_token %}
                                    <input class="quantity mr-15" type="number" name="quantity" value="1" min="1"
                                           max="{{ material.in_stock }}">
                                    <button class="add-cart" type="submit">Добавить</button>
                                </form>
                            {% else %}
                                <p>Товара нет в наличии</p>
                            {% endif %}
                        {% else %}
                            <p>Чтобы добавить товар в корзину, <a href="{% url 'login' %}">войдите</a> или <a
                                    href="{% url 'signup' %}">зарегистрируйтесь</a></p>
                        {% endif %}
                        </div>
                        <p class="ptb-20">{{ material.description }}</p>
                    </div>
                </div>
                <!-- Thumbnail Description End -->
            </div>
            <!-- Row End -->
        </div>
        <!-- Container End -->
    </div>
{% endblock %}



