{% extends "navbar.html" %}
{% load static %}
{% block content %}
    <div class="breadcrumb-area ptb-60 ptb-sm-30">
        <div class="container">
            <div class="breadcrumb">
                <ul>
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'shop' %}">Shop</a></li>
                </ul>
            </div>
        </div>
        <!-- Container End -->
    </div>
    <div class="main-product-thumbnail pb-60">
        <div class="container">
            <div class="row">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="add-cart"
                            data-toggle="tooltip"
                            title="add">Сохранить
                    </button>
                </form>
            </div>
            <!-- Row End -->
        </div>
        <!-- Container End -->
    </div>
{% endblock %}